<div class="header">
    <div class="title">
        <div class="panel panel-primary">
            <div class="panel-heading" style="text-align:center font-family Helvetica Neue, Helvetica, Arial, sans-serif;">
                <b><h2 style="color: black;">BIENVENUE DANS NOTRE APPLICATION DE GESTION D'UTILISATEURS</h2></b>
            </div>

        </div>
    </div>
    <div class="nav">
        <ul class="nav nav-pills">
            <li routerLinkActive="active"> <a routerLink="gest1">GESTION DES MEMBRES </a></li>
            <li routerLinkActive="active"> <a routerLink="gest2">GESTION DES ADMINISTRATEURS </a></li>
        </ul>
        <div class="from-group">
            <button class="btn btn-danger" style="float: right; margin: 35px;" >DECONNEXION</button>
        </div>
    </div>


</div>